<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試網頁</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet"/>  
<link href="/css/main.css" rel="stylesheet"/>      
<!------------------------->
</head>
   
    <body>
        <!--**************************-->
        <div class="container">    
            <!--~~~~~~~~~~~~~~~~~-->
            <div class="header">           
            </div>        
        
            <!--~~~~~~~~~~~~~~~~~-->        
            <ul id="navigation">        
                <li><a href="/">返回主頁</a></li> 
            </ul>
            <div class="content">
                <h2>開始計算時間</h2> 
            <!--~~~~~~~~~~~~~~~~~--> 
            <script language="javascript">
                function ShowMeDate() {
                　var Today=new Date();
                　alert("今天日期是 " + Today.getFullYear()+ " 年 " + (Today.getMonth()+1) + " 月 " + Today.getDate() + " 日");
                }
            </script>
            <button onclick="ShowMeDate()">告訴我今天日期</button>
            <!--
            <script type="text/javascript" language="javascript">
                function TimeDifference()
                {
                //定義兩個變數time1,time2分別儲存開始和結束時間
                var today=new Date();
                var time1="new Date()";
                var time2="2020-06-29 10:00";
                //判斷開始時間是否大於結束日期
                if(time1>time2)
                {
                alert("開始時間不能大於結束時間！");
                return false;
                }
                //擷取字串，得到日期部分"2009-12-02",用split把字串分隔成陣列
                var begin1=time1.substr(0,10).split("-");
                var end1=time2.substr(0,10).split("-");
                //將拆分的陣列重新組合，並例項成化新的日期物件
                var date1=new Date(begin1[1]   -   begin1[2]   -   begin1[0]);
                var date2=new Date(end1[1]   -   end1[2]   -   end1[0]);
                //得到兩個日期之間的差值m，以分鐘為單位
                //Math.abs(date2-date1)計算出以毫秒為單位的差值
                //Math.abs(date2-date1)/1000得到以秒為單位的差值
                //Math.abs(date2-date1)/1000/60得到以分鐘為單位的差值
                var m=parseInt(Math.abs(date2-date1)/1000/60);
                //小時數和分鐘數相加得到總的分鐘數
                //time1.substr(11,2)擷取字串得到時間的小時數
                //parseInt(time1.substr(11,2))*60把小時數轉化成為分鐘
                var min1=parseInt(time1.substr(11,2))*60 ;
                var min2=parseInt(time2.substr(11,2))*60 ;
                //兩個分鐘數相減得到時間部分的差值，以分鐘為單位
                var n=min2-min1;
                //將日期和時間兩個部分計算出來的差值相加，即得到兩個時間相減後的分鐘數
                var minutes=n;
                document.writeln(minutes);
                }
                TimeDifference();
                </script>
                -->
            <!--
            <script type="text/javascript">
                var start = 0;
                var end = 0;
                
                start = new Date().getTime();
                // 要測試的 function 開始 =======
                for(i = 0; i < 10000000; i++) {
                    // do something.
                }
                // 要測試的 function 結束 =======
                end = new Date().getTime();
                
                // 計算花多久時間
                document.write((end - start) / 1000 + "sec");
                </script>      
            -->
            <!--
            <script>
            const t0 = performance.now();
            doSomething();
            const t1 = performance.now();
            console.log(`Call to doSomething took ${t1 - t0} milliseconds.`);
            let arr = [];
            for(let i = 0 ; i < 100000; i++  ){
                arr.push(Math.random());
            }
            console.time("sort");
            arr.sort();
            console.timeEnd("sort");
            </script>
            -->
           
        <!--
        <div id="time"></div>
        <form action = "/calculatingtime/list" method = "post">
            <div class="form">                    
                    <span class="name">編號: </span>
                    <span class="value"><input type="text" name="timeserNo" ></span>
                    <br/>

                    <span class="name">會員帳號: </span>
                    <span class="value"><input type="text" name="memberPhone" ></span>
                    <br/>

                    <span class="name">到達時間: </span>
                    <span class="value"><input type="text" name="arrivalTime" ></span>
                    <br/>

                    <span class="name">結束時間: </span>
                    <span class="value"><input type="text" name="endTime" ></span>
                    <br/>

                    <span class="name">建立日期: </span>
                    <span class="value"><input type="datetime-local" name="creationDate" ></span>
                    <br/>                                        
            </div>    
        </form>
        -->

</div>       
        
<!--~~~~~~~~~~~~~~~~~--> 
<div class="footer">
    NTUB imd, 2019.    
</div>  
</div>
<!--**************************-->  
</body>
</html>   
