<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試網頁</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet"/>  
<link href="/css/main.css" rel="stylesheet"/>  
    
<!------------------------->

</head>
   
<body>
    <!--**************************-->
    
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        
            <div class="header">           
            </div>        
            
            <!--~~~~~~~~~~~~~~~~~--> 
                
                <ul id="navigation">   
                    <li class="sub">
                        <li class="sub">                                 
                            <a href="/store/list">查看店家資訊</a>          
                        </li>
                    
                    <li class="sub">         
                        <a href="/calculatingtime">開始計算時間</a>          
                    </li>
                    
                    <li class="sub">         
                        <a href="/order/list">點餐</a>                  
                    </li>
                    
                    <li class="sub">                                 
                        <a href="/orderdetail/list">查看訂單明細</a>          
                    </li>
                    
                    <li class="sub">                                 
                        <a href="#">結帳</a>          
                    </li>                     
                
                
                    <li class="sub">         
                        <a href="#">會員資料</a>          
                        <ul>          
                            <li><a href="/member/list">查看會員資料</a></li> 
                            <li><a href="/member/add/form">新增</a></li>
                            <li><a href="/member/remove/form">刪除</a></li>
                            <li><a href="/member/update/no">修改</a></li>                                        
                        </ul>
                    </li>  
                           
                </ul>
                
                <!--~~~~~~~~~~~~~~~~~--> 
                <div class="content">
                    <h2>樣板畫面</h2>

                    <p>
                        這裡可以加入公司介紹或產品訊息或某功能特有的資訊內容.            
                    </p>       
                    
                </div>       
                
                <!--~~~~~~~~~~~~~~~~~--> 
                <div class="footer">
                    NTUB imd, 2019.    
                </div>  
        
    <!--**************************-->    
</body>
   
</html>

