:root{
    --color-primary-0: #000;
    --color-primary-1: rgb(231, 114, 59);
    --color-primary-2: rgb(151, 74, 23);
    --color-primary-3: #999;
    --color-primary-4: #ccc;
    --color-primary-5: rgb(240, 177, 119);
}