<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試網頁</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet"/>  
<link href="/css/main.css" rel="stylesheet"/>      
<!------------------------->
</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="/">返回主頁</a></li> 
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">

             <h2>餐點類別</h2>
             <a href="/item/add/form"><input type="submit" value="新增餐點類別" ></a>
             <a href="/item/remove/form"><input type="submit" value="刪除餐點類別" ></a>
             <a href="/item/update/no"><input type="submit" value="修改餐點類別" ></a>     
                <table>
                    <thead>
                        <tr>
                            <th width="50%">類別編號</th>
                            <th width="50%">類別名稱</th>                                          
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<items.length; i++) {%>
                            <tr>
                                <td><%= items[i].itemID %></a></td>
                                <td><%= items[i].itemName %></td>                           
                            </tr> 
                        <% } %> 
                    </tbody>
                </table>   
              
               
        </div>       
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2019.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>
